SIR_BLOGGS_GOOGLE_CLIENT_ID=161634106482-sjcuh5li8bhaigc466krfd91girtgna9.apps.googleusercontent.com
SIR_BLOGGS_AUTH_SESSION_SECRET=replace-with-persistent-random-secret
SIR_BLOGGS_AUTH_ADMIN_EMAILS=louieleolarry@gmail.com
